body {
    font-size: 14px;
}

h4 {
    margin-top: 15px;
}

.container {
    width: 960px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 12px;
}

.header {
    height: 60px;
    padding: 10px;
    background-color: #dedede;
    margin-bottom: 20px;
}

.data {
    padding: 10px;
    background-color: #eaeaea;
}

.messages-counter {
    display: inline-block;
    padding: 14px 20px 0 0;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.right {
    float: right;
}

.left {
    float: left;
}

.red {
    color: #a00;
}

.green {
    color: #0a0;
}

.button-container {
    width: auto;
    overflow: hidden;
}

.button-success,
.button-blue,
.button-danger {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    display: inline;
    float: right;
    margin: 4px;
}

.button-success {
    background: rgb(28, 184, 65);
}

.button-blue {
    background: rgb(66, 184, 221);
    /*display: none;*/
}

.button-danger {
    background: rgb(202, 60, 60);
}